body {
  color: var(--font-color);
  background-color: var(--bg-color);
}

.center-div {
  display: table;
  margin: 0 auto;
}

.header-div {
  text-align: center;
  margin: 10px 0;
  padding: 10px 0;
  border: 0;
  border-bottom: 1px solid var(--color-soft);
}

.hidden {
  display: none;
}

/* list room empty noti */
.notification {
  margin: 15px 0;
  padding: 20px 15px;
  color: white;
  background-color: var(--info);
}

/* muuri */
.placeholder-div {
  border: 1px dashed var(--color-soft);
}

.Panels {
  padding-bottom: 50px;
  max-width: 1024px;
}

#homeContainer {
  position: relative;
  min-height: 100vh;

  color: var(--font-color);
  background-color: var(--bg-color);
}

/* Chat */
#chatContainer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 250px;
  background-color: var(--color-bold);

  z-index: 2;
}

#chatContainer.closed {
  left: -300px;
}

/* #chatContainer.closed #btnCloseChat { */
/* transform-origin: 100% 100%; */
/* transform: rotate(90deg); */
/* transform: translateX(100%); */
/* bottom: 0; */
/* top: auto; */
/* } */

#btnCloseChat {
  position: absolute;
  right: 0px;
  top: 0;
  transform-origin: 100% 0;
  transform: rotate(-90deg);

  /* bottom: 100%; */
  /* transform: translateX(100%); */
}
